<div>
    <div><img src="./images/beer.png" style="width: 200px"></div>
    <button><a href="/beers">Check the Beers!</a></button>
    <button><a href="/random-beer">Check a Random Beer</a></button>
</div>